.card__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  &[data-exists="false"] {
    display: flex;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  gap: 1rem;
  align-items: start;
}

.card__section > * {
  max-width: 100%;
  word-wrap: break-word;
}

.card__container {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.card__wrapper {
  background-color: rgb(249, 250, 251);
  border-radius: 2rem;
  padding: 2.5rem;
  line-height: 1.3;
  word-break: break-all;
  transition: 0.4s all;
  width: 100%;
  box-sizing: border-box;

  img[data-theme="dark"] {
    display: none;
  }

  .card__title,
  .card__company,
  .card__position,
  .card__timestamp {
    word-break: keep-all;
    line-height: 1.4;
  }

  &:hover {
    background-color: #222;
    color: #fff;
    transform: translateY(-0.5rem);

    .card__title,
    .card__company,
    .card__coporate,
    .card__position,
    .card__timestamp {
      color: #fff;
    }

    span[data-is-more-corporates="true"] {
      display: none;
    }

    .card__coporate {
      display: block;
    }

    .card__path__container {
      visibility: visible;
      height: 3rem;
      transition: 0.4s all;
      cursor: pointer;
      width: 100%;
      max-width: fit-content;
    }

    img[data-theme="dark"] {
      display: block;
    }

    img[data-theme="light"] {
      display: none;
    }
  }
}

.card__title {
  font-size: 1.65rem;
  font-weight: 600;
  color: var(--grey800);
}

.card__position,
.card__timestamp {
  font-weight: 400;
  color: var(--grey700);
}

.card__company,
.card__coporate {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--greyOpacity500);
}

.card__coporate {
  display: none;
  word-break: keep-all;
  line-height: 1.7;
}

.card__path__container {
  visibility: hidden;
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  height: 0;
  transition: 0.1s all;
}

.card__title__container,
.card__date__container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.not__data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.3rem;
}
