.nklcb__logo {
  width: 100%;
  max-width: 50rem;
  cursor: pointer;
}

.not__data {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--greyOpacity500);
  font-weight: 400;
  row-gap: 1.3rem;
}
