.error__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
  color: var(--greyOpacity700);
}

.error__content__container {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

  & > span:nth-of-type(1) {
    font-weight: 400;
    font-size: 1.6rem;
  }
}
